# SERVER
SERVER_PORT=8080
SERVER_BIND=0.0.0.0
SERVER_API_TOKEN=secret_token

# GATEWAYS FOR "STORE1"
GATEWAY_STORE1_XENDIT_API_KEY=xnd_live_abc123
GATEWAY_STORE1_XENDIT_WEBHOOK_TOKENS=token1,token2
GATEWAY_STORE1_XENDIT_CALLBACK_URLS=https://site1.com/callback

# GATEWAYS FOR "STORE2"
GATEWAY_STORE2_XENDIT_API_KEY=xnd_live_xyz789
GATEWAY_STORE2_PAYPAL_API_KEY=paypal_client_id_here